      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: #F6EDDE;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      header {
        background-color: #A61449;
        color: white;
        width: 100%;
        text-align: center;
        display: flex;  
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
      }

      header img {
        width: 100px;
        padding-left: 5px;
        padding-right: 10px;
        border-radius: 7px;
        /* height: auto; */
      }

      header h1 {
        margin: 0;
      }
 
      nav ul {
        list-style-type: none;
        padding: 0;
      }

      nav ul a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: inline-block;
      }

      nav ul a:hover {
        background-color: #575757;
      }

      main {
        flex: 1;
        text-align: center;
        padding: 2rem;
        margin-top: 20px;
      }

      main p {
        margin: 10px 0;
      }

      main img {
        width: 250px;
        height: auto;
      }

      footer {
        background-color: #0F3B6A;
        color: white;
        text-align: center;
        padding: 1rem;
        width: 100%;
        font-size: 0.9em;
      } 